@import "../../../../styles/_vars";
@import "../../../../styles/_mixins";

.root {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;

	//border: 5px solid red;

	.guess_cells {
		margin: 10px;
		height: fit-content;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		//border: 5px solid greenyellow;
	}

	.submit {
		@include flex-center;

		button {
			border-radius: 1rem;
			padding: 5px;
		}
	}
}
