@import "./styles/vars";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
html {
	height: 100%;
	width: 100%;

	overflow: hidden;
}

#root {
	height: inherit;
	width: inherit;
}

* {
	box-sizing: border-box;

	margin: 0px;
	padding: 0px;
}

button {
	cursor: pointer;
	color: white;
}

input[type="checkbox"] {
	cursor: pointer;
}

input[type="text"] {
	box-shadow: none;
	font-size: 1.2rem;
}

.round.col {
	position: sticky;
	left: 0;

	z-index: 9;
	background: $main_bg;
}

.round.header {
	position: sticky;
	left: 0;

	z-index: 9;
	background: $main_bg;
}
