@import "../../../../../../../../../../styles/mixins";
@import "../../../../../../../../../../styles/vars";

.root {
	width: 100%;

	border-top: 1px solid white;
	display: flex;

	input {
		width: 100%;
		height: 1.5rem;
		border-bottom-left-radius: 13px;
		border: none;
		background: $main_bg;
		text-align: center;
	}

	.solo {
		border-bottom-right-radius: 13px;
	}

	button {
		border-bottom-right-radius: 13px;
		text-decoration: none;
		border: none;
		border-left: 1px solid white;
		width: 20%;

		&:hover {
			background-color: rgb(125, 122, 122);
		}
	}

	.icon {
		position: absolute;
		bottom: 0.25rem;

		&.check {
			right: 19%;
			color: $color-checkmark;
		}

		&.x {
			right: 5px;
			color: $color-xmark;
		}
	}
}
