@import "../../../../../../styles/_mixins";
@import "../../../../../../styles/_vars";

.root {
  white-space: nowrap;

  .cell {
    display: inline-block;
    border: $border;
    width: 125px;
    text-align: center;
  }
}
