@import "../../../../../../styles/_mixins";
@import "../../../../../../styles/_vars";

.root {
	white-space: nowrap;

	.round {
		display: inline-block;
		border: $border;
		width: 75px;
		height: 50px;
		text-align: center;

		overflow-y: auto;
	}
}
