@import "../../../../styles/vars";
@import "../../../../styles/mixins";

.content {
	display: flex;
	flex-direction: column;
	gap: 10px;

	width: 80%;
	max-height: 70dvh;
	overflow-y: auto;

	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 1px solid white;
	border-radius: 0.5rem;
	background: $color-bg;

	margin-top: 50px;

	h2 {
		text-align: center;
	}

	span {
		text-align: center;
	}

	.guesses {
		width: 100%;
		@include flex-center;
	}
}
