@import "../../../../styles/vars";
@import "../../../../styles/mixins";

.root {
	width: 80%;
	height: fit-content;
	//border: $border;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;

	.cell {
		width: fit-content;

		border: 1px solid white;
		border-radius: 10px;

		.header {
			@include flex-center;
			width: 100%;
			background: $color-cell-header;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			padding: 5px;
		}

		.content {
			@include flex-center;
			width: fit-content;
			width: 100%;
			height: 5rem;
			overflow-y: auto;
			overflow-x: hidden;
			scroll-behavior: auto;

			.wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;

				div {
					width: 100%;
					text-align: center;
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}
	}
}
