@import "../../../../../../styles/mixins";

.root {
	@include flex-center;
	width: 100%;
	height: fit-content;

	border: 1px solid white;
	position: relative;

	& > input {
		text-align: center;
	}

	.recommend_root {
		width: 100%;
		text-align: center;
		min-height: fit-content;
		max-height: 100px;
		border: 1px solid black;
		background: white;

		overflow-y: scroll;

		position: absolute;
		top: 100%;
		z-index: 10;

		.cell {
			width: 100%;
			height: fit-content;
			color: black;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			cursor: pointer;

			&:hover {
				background: lightseagreen;
			}
		}
	}
}
