@import "../../../../../../styles/mixins";

.root {
	@include flex-center;
	width: 100%;
	height: fit-content;

	border: 1px solid white;

	.checkbox_root {
		@include flex-center;
		flex-direction: row;

		width: 100%;
		height: fit-content;

		padding: 1px;

		& > span {
			width: 33%;
			@include flex-center;
		}
	}
}
