@import "../../../../styles/vars";
@import "../../../../styles/mixins";

.content {
	width: 80%;
	min-height: 70dvh;
	max-height: 80dvh;
	overflow-y: auto;

	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 1px solid white;
	border-radius: 0.5rem;
	background: $color-bg;

	h2 {
		@include flex-center;
		border-bottom: 1px solid white;
		width: 100%;
	}

	h3 {
		text-align: center;
	}

	ul {
		list-style-position: outside;
		li {
			margin-bottom: 5px;
			text-wrap: wrap;
		}
	}

	.rules {
		border-bottom: 1px solid white;
		padding-left: 1.2rem;
		padding-right: 5px;
		#colors {
			ul {
				@include flex-center;
				width: 100%;
				list-style-position: outside;
				li {
					width: 70%;
					text-align: left;
				}
			}
		}
	}

	#about {
		@include flex-center;
		width: 100%;
		height: 100%;
		border-bottom: 1px solid white;

		#copyright {
			margin-left: 5px;
		}

		i {
			margin-top: 5px;
			margin-bottom: 5px;
			text-align: center;
		}
	}

	.buttons {
		@include flex-center;
		flex-direction: row;
		width: 100%;
		gap: 5px;
		padding: 5px;

		button {
			font-size: large;
			font-weight: 500;
			padding: 3px;
			border: none;
			border-radius: 5px;
		}

		:nth-child(1) {
			background-color: blue;
			background: $color-btn;

			&:hover {
				background: $color-btn-hover;
			}
		}

		:nth-child(2) {
			background-color: red;

			&:hover {
				background: #a54949;
			}
		}
	}
}
