@import "../../../../../../styles/mixins";

.root {
	@include flex-center;
	width: 100%;
	height: fit-content;

	border: 1px solid white;
	position: relative;

	.guesses_root {
		@include flex-center;
		@include full-size-percent;

		& > div {
			width: 100%;
			@include flex-center;
			flex-direction: row;

			border: 1px solid white;

			& > h5 {
				width: 80%;
				text-align: center;
			}

			& > button {
				width: 20%;
			}
		}
	}

	.input_root {
		@include flex-center;
		flex-direction: row;
		max-width: 100%;

		& > input {
			text-align: center;
			width: 80%;
		}

		& > button {
			width: 20%;
			text-align: center;
		}
	}
}
