@import "../../styles/_vars.scss";
@import "../../styles/_mixins.scss";

.root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: $height-navbar;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow-y: auto;
	background: $main_bg;

	.content {
		width: 100%;
		flex: 1;
		@include flex-center;
	}
}
