@import "../../styles/_vars.scss";
@import "../../styles/_mixins.scss";

.root {
	width: 100%;
	height: 100%;
	@include flex-center;
	margin-top: $height-navbar;
	overflow-y: auto;
	background: $main_bg;

	//border: 1px solid red;

	&.showingPostGame {
		overflow: hidden;
	}

	.content {
		width: 100%;
		flex: 1;
		@include flex-center;
		//border: 1px solid red;
	}
}
