@import "../../../../../../styles/mixins";

.root {
	@include flex-center;
	width: fit-content;
	height: auto;

	border: 1px solid white;
	position: relative;

	margin: 5px;

	border-radius: 1rem;

	input[type="text"] {
		border-radius: 1rem;
		box-shadow: none;
		border: 1px solid yellow;
	}
}
