@import "../../../../styles/vars";
@import "../../../../styles/mixins";

.root {
	width: 100%;
	height: calc(100% - $height-navbar);
	padding-top: 100px;
	padding-bottom: 100px;

	overflow-y: hidden;

	position: absolute;

	z-index: 12;

	backdrop-filter: blur(0.1rem);
}
