@import "../../styles/mixins";
@import "../../styles/vars";

.root {
	@include full-size-percent;

	@include flex-center;

	.passwordBox {
		@include flex-center;

		position: relative;
	}

	.eye {
		position: absolute;
		top: 55%;
		right: 2%;
		cursor: pointer;
		color: white;
	}

	input {
		text-align: center;
		font-size: 1.5rem;
		width: 15rem;
		height: 2rem;
	}

	button {
		font-size: large;
		border-radius: 10px;
		padding: 5px;
		font-weight: bold;
		box-shadow: none;
		border: 1px solid white;
	}
}
