@import "../../../../styles/_vars";
@import "../../../../styles/_mixins";

.root {
	width: fit-content;
	border: $border;
	border-radius: $border-radius;

	.title {
		width: 100%;
		height: fit-content;
		border-bottom: $border;
		padding: 5px;

		background: $color-navbar-bg;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;

		text-align: center;
	}

	.guesses {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 5px;

		.guess {
			width: 1.5rem;
			height: 1.5rem;

			border: 1px solid white;
			border-radius: 5px;

			@include flex-center;

			&.filled {
				background: red;
				color: black;
			}
		}
	}
}
