@import "../../../../../../../../styles/mixins";
@import "../../../../../../../../styles/vars";

.root {
	@include full-size-percent;
	display: flex;

	user-select: none;

	.ritual_toggle {
		.check {
			position: absolute;
			bottom: 38%;
			right: 10px;
			color: $color-checkmark;

			&.unchecked {
				color: $color-xmark;
			}

			&:hover {
				cursor: pointer;
			}
		}

		button {
			width: fit-content;
			border: none;
			border-left: 1px solid white;
			border-top: 1px solid white;
			border-bottom-right-radius: $border-radius;
			padding: 5px;
			font-weight: bold;

			&.unchecked {
				background: $color-btn;
			}

			&:hover {
				background-color: $color-btn-hover;
			}
		}
	}

	.toggle {
		height: 100%;

		@include flex-center;
		margin-bottom: 5px;
	}
}
