@import "../../styles/mixins";
@import "../../styles/vars";

.root {
	width: 100%;
	height: $height-navbar;
	background: $color-navbar-bg;

	display: grid;
	grid-template-columns: repeat(3, 1fr);

	position: fixed;
	top: 0;
	overflow: hidden;

	.title {
		padding-left: 10px;
		display: flex;
		gap: 5px;

		h1 {
			color: $color-navbar-title;
		}
	}

	.username {
		@include flex-center;
		color: $color-navbar-username;
	}

	.buttons {
		@include flex-center;
		flex-direction: row;
		gap: 10px;

		button {
			border: 1px solid white;
			padding: 5px;
			border-radius: 10px;
			font-size: 1.2rem;
		}
	}
}
