@import "../../styles/mixins";
@import "../../styles/vars";

.root {
  @include flex-center;
  flex-direction: row;
  height: 75px;
  width: 100%;
  background: red;
  position: fixed;
  top: 0;
  z-index: 1;

  &>span {
    border: $border;
    height: 100%;
    @include flex-center;
  }

  overflow: hidden;
}
