@import "../../styles/mixins";
@import "../../styles/vars";

.root {
	@include full-size-percent;
	@include flex-center;
	gap: 5px;

	input {
		text-align: center;
		font-size: 1.5rem;
		width: 15rem;
		height: 2rem;
		border-radius: 10px;
		border: 1px solid white;
		background: rgb(71, 71, 71);
		overflow-x: auto;

		&.err {
			border: 2px solid red;
		}
	}

	div.err {
		color: red;
	}

	button {
		font-size: large;
		border-radius: 10px;
		padding: 5px;
		font-weight: bold;
		box-shadow: none;
		border: 1px solid white;
		margin-top: 5px;
	}
}
