$color-bg: #312f2f;
$color-card: #c6e7db;
$color-btn: #656565;
$color-btn-hover: #7d7a7a;
$color-incorrect: red;
$color-semi: yellow;
$color-correct: green;
$color-checkmark: lightseagreen;
$color-xmark: red;

$main_bg: rgb(49, 47, 47);

$border: 1px solid black;

$border-radius: 15px;
