$color-bg: #656565;
$color-card: #c6e7db;
$color-btn: #3eb489;
$color-btn-hover: #4ec096;
$color-incorrect: "red";
$color-semi: "yellow";
$color-correct: "green";

$main_bg: rgb(49, 47, 47);

$border: 1px solid black;

$border-radius: 15px;
