$color-bg: #312f2f;
$color-card: #c6e7db;
$color-btn: #656565;
$color-btn-hover: #7d7a7a;
$color-incorrect: red;
$color-semi: yellow;
$color-correct: green;
$color-checkmark: lightseagreen;
$color-xmark: red;
$color-navbar-bg: #161414;
$color-navbar-title: lightseagreen;
$color-navbar-username: blue;
$color-guess-text-input: #312f2f;
$color-cell-header: rgba(255, 255, 255, 0.1);

$main_bg: rgb(49, 47, 47);

$border: 1px solid black;

$border-radius: 15px;

$height-navbar: 50px;
